// {{.FunctionName}} executes the {{.QueryName}} query
func (r *{{.RepositoryName}}) {{.FunctionName}}(ctx context.Context{{.ParameterDeclarations}}) error {
	query := `{{.SQL}}`
	
	_, err := r.conn.Exec(ctx, query{{.ParameterArgs}})
	return err
} 