// {{.FunctionName}} executes the {{.QueryName}} query
func (r *{{.RepositoryName}}) {{.FunctionName}}(ctx context.Context, db pgxkit.Executor{{.ParameterDeclarations}}) error {
	query := `{{.SQL}}`

	return ExecuteNonQuery(ctx, db, "{{.QueryName}}", "{{.QueryName}}", query{{.ParameterArgs}})
} 